<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">À propos</h2>
                <hr class="light">
                <div style=margin:5%>
                <p class="text-faded"> Dipl&ocirc;m&eacute; d&rsquo;un Master Physique et Ing&eacute;nierie de l&rsquo;&eacute;nergie, j'ai suivi une formation de Data Analyst. Faisant preuve d&rsquo;autonomie, d&rsquo;adaptabilit&eacute; et d&rsquo;un esprit de synth&egrave;se, je souhaite travailler sur des projets vari&eacute;s en lien avec divers m&eacute;tiers. Je suis dispos&eacute; &agrave; me former sur d&rsquo;autres logiciels ou langages de programmation n&eacute;cessaires pour mener &agrave; bien mes missions.</p>
                </div>
                <div style=margin:5%>
      
                </div>
                <a href="CV_Jordan_Leclerc.pdf" download target="_blank" class="btn btn-default btn-xl">CV
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>
