<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="P3_Basse_de_données_immo.html" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Maison.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projet 1
                            </div>
                            <div class="project-name">
                                Création et utilisation d'une base de données immobilière avec SQL
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="P2_Etude_sante_publique_Notebook.html" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Nutrition.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projet 2
                            </div>
                            <div class="project-name">
                                Réalisation d'une étude sur la sous-nutrition dans le monde avec Python
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="P3_Gestion_d_une_boutique_en_ligne_Notebook.html" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Vin.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projet 3
                            </div>
                            <div class="project-name">
                                Optimisation de la gestion des données d'une boutique en ligne avec Python
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="P4_Nettoyage_librairie_Notebook" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Livres.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projet 4
                            </div>
                            <div class="project-name">
                                Analyse des ventes d'une librairie avec Python
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="P5_Etude_eau_potable.html" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Eau.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projet 5
                            </div>
                            <div class="project-name">
                                Réalisation d'une étude sur l'eau potable avec Tableau
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="P6_Etude_marche_preparation_nettoyage_analyse_exploratoire.html" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Poulets.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projet 6
                            </div>
                            <div class="project-name">
                                Réalisation d'une étude de marché pour l'exportation de volailles avec Python
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="P7_Leclerc_Jordan_1_Analyse.html" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Billets.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projet 7
                            </div>
                            <div class="project-name">
                                Détection de faux billets avec Python
                            </div>
                        </div>
                    </div>
                </a>
            </div>   
        </div>
    </div>
</section>
